<form name="routineForm">

  <md-content layout="row" layout-align="center center" layout-margin>
    <md-input-container flex>
      <label>Routine Title</label>
      <input name="routineTitle" ng-model="edit.routine.title" required>
    </md-input-container>
  </md-content>

  <md-content layout-margin>

    <div ng-repeat="exercise in edit.routine.exercises" layout="row" layout-sm="column" layout-align="center center">
      <md-input-container flex>
        <label>Exercise Name</label>
        <input ng-model="exercise.name" type="text" required></input>
      </md-input-container>
      <md-input-container flex="30">
        <label>Duration (seconds)</label>
        <input ng-model="exercise.duration" type="number" required></input>
      </md-input-container>
      <md-button ng-click="edit.removeExercise($index)">X</md-button>
    </div>

    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button ng-click="edit.addExercise()" class="md-raised">Add Exercise</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button ng-click="edit.saveRoutine(edit.routine)" class="md-raised" ng-disabled="routineForm.$error">Save Routine</md-button>
      <md-button ng-click="" class="md-raised">Cancel Edits</md-button>
      <md-button ng-click="" class="md-raised">Delete Routine</md-button>
    </section>

  </md-content>

</form>

<p>
  {{ edit.routine }}
</p>
