<md-toolbar class="md-theme-dark md-medium-tall" style="padding-top:15px;">
  <div class="md-toolbar-tools">
    <md-text-float label="Routine Title" value="home.routine.title"></md-text-float>
  </div>
</md-toolbar>

<md-tabs selected="selectedIndex" center>
  <md-tab label="PLAN IT"></md-tab>
  <md-tab label="DO IT"></md-tab>
</md-tabs>

<form class="dark">
  <section ng-repeat="exercise in home.routine.exercises" layout="vertical" layout-sm="horizontal" layout-align="center center">
    <md-text-float type="text" label="Exercise Name" value="exercise.name" flex flex-sm="25"></md-text-float>
    <md-text-float type="number" label="Duration (seconds)" value="exercise.duration" flex flex-sm="25"></md-text-float>
  </section>

  <section layout="vertical" layout-sm="horizontal" layout-align="center center">
    <md-button ng-click="home.addExercise()" class="md-theme-dark" flex flex-sm="20">Add Exercise</md-button>
    <md-button ng-click="home.addExercise()" class="md-theme-light" flex flex-sm="20">Save Routine</md-button>
    <md-button ng-click="home.addExercise()" class="md-theme-purple" flex flex-sm="20">Cancel</md-button>
  </section>
</form>



<p>
  {{ home.routine }}
</p>
